.wrapper .main-body {
    max-width: 1000px;
    width: 100%;
}

.wrapper .main-body .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 40px;
}

.main-body .cards .poke-card {
    position: relative;
    background: #0003;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 50px 20px;
    display: grid;
    justify-items: center;
    align-items: center;
    will-change: contents;
    transform: scale3d(1, 1, 1);
    transform: perspective(1000px);
    transform-style: preserve-3d;
}

.main-body .cards .poke-card .glare-wrapper {
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.main-body .cards .poke-card .glare {
    position: absolute;
    top: 55%;
    left: 65%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    transform-origin: 0% 0%;
    opacity: 0;
}

.loader-container {
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.loader-container .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
}
