.wrapper .main-body {
    max-width: 1000px;
    width: 100%;
}

.wrapper .main-body .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.main-body .cards .poke-card {
    background: #0003;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.loader-container {
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.loader-container .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
}
